<div class="container">
  <p class="mesoeuvrestext">Éditer Œuvre</p>
  <div class="jumbotron">
  	<%= render 'form', art: @art %>
    <%= link_to 'Montrer', @art, class: 'btn btn-primary' %> |
	<%= link_to 'Retour', arts_path, class: 'btn btn-primary' %>
  </div>

</div>
