<div class="container">

  <p class="mesoeuvrestext">Nouvelle Œuvre</p>

  <div class="jumbotron">
  	<%= render 'form', art: @art %>
    <%= link_to 'Retour', arts_path, class: 'btn btn-primary'%>
  </div>

</div>